
# Loading the theme and fonts 
loadfont $prefix/themes/minegrub/Minecraft30.pf2
loadfont $prefix/themes/minegrub/Monocraft22.pf2
insmod png
set theme=$prefix/themes/minegrub/theme.txt
export theme

set timeout_style=menu
set timeout=15



### My dumb shit
menuentry "              Singlebooter" {
	configfile $prefix/grub.cfg 
}

menuentry "              Onlinebooter" {
	echo "I don't know how network boot works"	

} 

menuentry "           Uefi Setting Realm" $menuentry_id_option 'uefi-firmware' {
	fwsetup
}

